<%- include("partials/header"); -%>
    <h1>Dashboard</h1>
    <h1>Hello <%= identity.title %> <%= identity.firstName %> <%= identity.lastName %></h1>
    <h2><%= identity.email %></h2>
    <p>
        Account type: <%= accountHolder.accountHolderType %>
    </p>
    <h2>
        Current Balance: <%= displayBalance %>
    </h2>

    <h2>Money In</h2>
    <% groupedInFeed.map((item) => <p><%= item %></p>) %>

    <h2>Money Out</h2>
    

    <h2>Totals</h2>
    <p>MONTHLY IN <%= formatCurrency(totalIn) %></p>
    <p>MONTHLY OUT <%= formatCurrency(totalOut) %></p>

    <h2>Savings</h2>

    <p>MONTHLY SAVING <%= formatCurrency(monthlySaving) %></p>
    <p>You are saving approx. <%= savingInPercent %> of this months income</p>

    <p>CALENDAR PLAN</p>
  
    
    <a href="/auth/logout">Log Out</a>

<%- include("partials/footer"); -%>