<%- include("partials/header"); -%>
    <div class="info">

        <i class="fas fa-user fa-2x"></i>
        <p>
            Account type: <%= accountHolder.accountHolderType %>
        </p>
        <h3><%= identity.title %> <%= identity.firstName %> <%= identity.lastName %></h3>
        <h4><%= identity.email %></h4>
    
        <h2>
            Current Balance: <%= displayBalance %>
        </h2>
        <a href="/auth/logout">Log Out</a>

    </div>

    <div class="flex-container">
        <div class="flex-item income-btn" onclick="openIncome()">
            <i class="fas fa-money-bill fa-2x"></i> 
            <p class="cash-title"><%= formatCurrency(totalIn) %></p>

        </div>
        <div class="flex-item outgoing-btn" onclick="openOutgoing()">
            <i class="fas fa-cash-register fa-2x"></i>
            <p class="cash-title"><%= formatCurrency(totalOut) %></p>

        </div>

        <div class="flex-item saving-btn"  onclick="openSaving()">
            <i class="fas fa-piggy-bank fa-2x"></i>
            <p class="cash-title"><%= formatCurrency(monthlySaving) %></p>
        
        </div>
    </div>
    
    <div id="Income" class="income-page slide">
        <a href="javascript:void(0)" class="closebtn" onclick="closeIncome()">&times;</a>

        <h2 class="page-header">IN</h2>

        <div class="breakdown">
            <% groupedInFeed.forEach((item)=> { %>
                <div class="item"><%= item.spendingCategory %></div>
                <div class="amount">
                    <span><%= ((item.amount/totalIn)*100).toFixed(2) %>%</span> | 
                    <%= formatCurrency(item.amount) %>
                </div>
            <% }) %>
        </div>

    </div>

    <div id="Outgoing" class="outgoing-page slide">
        <a href="javascript:void(0)" class="closebtn" onclick="closeOutgoing()">&times;</a>

        <h2 class="page-header">OUT</h2>

        <div class="breakdown">
            <% groupedOutFeed.forEach((item)=> { %>
                <div class="item"><%= item.spendingCategory %></div>
                <div class="amount">
                    <span><%= ((item.amount/totalOut)*100).toFixed(2) %>% </span> | 
                    <%= formatCurrency(item.amount) %>
                </div>
            <% }) %>
        </div>


    </div>
    
    <div id="Saving" class="saving-page slide">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSaving()">&times;</a>
        <h2 class="page-header" >SAVED</h2>

        <p>You are saving approx. <%= savingInPercent %> of this months income</p>

        <div class="breakdown">

                <div class="item">Saving</div>
                <div class="amount">
                    <span><%= savingInPercent %> </span> | 
                    <%= formatCurrency(monthlySaving) %>
                </div>
        </div>

        <p>CALENDAR PLAN</p>

        <% dailyPlan.forEach((item)=> { %>
            <p><%= item.date %> <%= item.day %></p>
            <p><%= item.save %></p>
        <% }) %>

    </div>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        let labels = '<%= groupedOutFeed.map((item)=> item.spendingCategory) %>'
        let values = '<%= groupedOutFeed.map((item)=> item.amount) %>'
        let total = '<%= totalIn %>'
        const data = {
            labels: labels.split(","),
            datasets: [{
                label: 'Cash Breakdown',
                data: [],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'doughnut',
            data: data,
            options:{
                responsive: false
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config  
        );

        console.log(values.split(",").map((item)=> item/total*100))
    </script>

<%- include("partials/footer"); -%>